@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: hsl(0, 0%, 9%);
  --light: hsl(0, 0%, 85%);
  --button: hsl(188, 86%, 53%);
  --primary: hsl(0, 0%, 45%);
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: color-mix(in srgb, #8c0e98 50%, black 50%);
}

.header {
  background-color: #13151a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem 0;
}

.content_section {
  position: relative;

  width: 100%;
  height: 200dvh;
  background-color: var(--primary);
}

.content_section .content_clip {
  overflow: clip;

  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100dvh;
  background-color: var(--light);
}

.content_section .text-content {
  display: inline-block;
  width: 100%;
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-align: center;
  text-transform: uppercase;

  @media (width > 550px) {
    font-size: 5rem;
  }
}

.content_section .content_clip .text-clip {
  position: sticky;
  top: 0;
  transform: translateY(calc(50dvh - 50%));
}

.content_section .content_clip p {
  text-align: center;
  transform: translateY(calc(50dvh - 50%));
}

.content_section .text-content.text-image {
  position: sticky;
  z-index: 10;
  top: calc(100dvh - 50% - 3rem);

  color: white;
}

.content_section .content_image {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 150dvh;
}

.content_section .content_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}