---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to iamjulio Website">
	<main>
		<header class="header">
			<nav class="nav">
				<h1 class="logo">IJ🚀</h1>
			</nav>
		</header>
		<section class="content_section">
			<span class="text-content text-image">iamJulio develop</span>
			<div class="content_clip">
				<span class="text-content text-clip">iamJulio develop</span>
				<p>
					Frontend Developer with more than 15 years of experience in
					creating innovative and customized solutions.
				</p>
				<p>
					HTML, CSS, JavaScript, React, jQuery, Salesforce B2C
					Develop.
				</p>
			</div>
			<div class="content_image">
				<img
					src="https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
					alt="Image Content"
				/>
			</div>
		</section>
	</main>
</Layout>
