---
import Logo from "@/icons/Logo.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Jules Dev - Frontend Developer">
	<main>
		<header class="header">
			<nav class="nav">
				<Logo />
			</nav>
		</header>
		<section class="content_section">
			<span class="text-content text-image">Jules Dev</span>
			<div class="content_clip">
				<span class="text-content text-clip">Jules Dev</span>
				<p>
					Frontend Developer with more than 15 years of experience in
					creating innovative and customized solutions.
				</p>
				<p>
					HTML, CSS, JavaScript, React, jQuery, Salesforce B2C
					Develop.
				</p>
			</div>
			<div class="content_image">
				<img
					src="./home.webp"
					alt="iamjulio dev background"
				/>
			</div>
		</section>
	</main>
</Layout>
